@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-Black.eot");
  src: local("Heebo-Black"), url("../assets/fonts/Heebo-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-Black.woff2") format("woff2"), url("../assets/fonts/Heebo-Black.woff") format("woff"), url("../assets/fonts/Heebo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-Bold.eot");
  src: local("Heebo Bold"), local("Heebo-Bold"), url("../assets/fonts/Heebo-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-Bold.woff2") format("woff2"), url("../assets/fonts/Heebo-Bold.woff") format("woff"), url("../assets/fonts/Heebo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-Medium.eot");
  src: local("Heebo-Medium"), url("../assets/fonts/Heebo-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-Medium.woff2") format("woff2"), url("../assets/fonts/Heebo-Medium.woff") format("woff"), url("../assets/fonts/Heebo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-ExtraBold.eot");
  src: local("Heebo-ExtraBold"), url("../assets/fonts/Heebo-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Heebo-ExtraBold.woff") format("woff"), url("../assets/fonts/Heebo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-Light.eot");
  src: local("Heebo-Light"), url("../assets/fonts/Heebo-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-Light.woff2") format("woff2"), url("../assets/fonts/Heebo-Light.woff") format("woff"), url("../assets/fonts/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-Regular.eot");
  src: local("Heebo-Regular"), url("../assets/fonts/Heebo-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-Regular.woff2") format("woff2"), url("../assets/fonts/Heebo-Regular.woff") format("woff"), url("../assets/fonts/Heebo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Heebo';
  src: url("../assets/fonts/Heebo-Thin.eot");
  src: local("Heebo-Thin"), url("../assets/fonts/Heebo-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Heebo-Thin.woff2") format("woff2"), url("../assets/fonts/Heebo-Thin.woff") format("woff"), url("../assets/fonts/Heebo-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

button {
  border: none;
  width: 208px;
  height: 47px;
  background: #FF6464;
  border-radius: 2px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.header__content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__content li {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin-left: 33px;
}

.bio__content {
  margin-top: 140px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio__left {
  width: 507px;
}

.bio__left h2 {
  margin: 0;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #21243D;
}

.bio__left p {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243D;
}

.work {
  background: #EDF7FA;
}

.work__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__top h3 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: #21243D;
}

.work__top a {
  text-decoration: none;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #00A8CC;
}

.work__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__block {
  width: 378px;
  height: 295px;
  background: #fff;
  padding: 7px 0 13px 14px;
}

.work__block h2 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #21243D;
}

.work__block h4 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #21243D;
}

.work__block p {
  width: 368px;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #21243D;
}

ul li {
  list-style: none;
}

.container {
  width: 858px;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */