.header{
    &__content{
        & ul{
            display: flex;
            justify-content: end;
        }
        & li{
            cursor: pointer;
            @include font(20px,500,#000000);
            margin-left: 33px;
        }
    }
}

@media (max-width:768px) {
    .header{
        &__content{
            & ul{
                display: none;
            }
        }
    }
}