.header{
    &__content{
        & ul{
            display: flex;
            justify-content: end;
        }
        & li{
            cursor: pointer;
            @include font(20px,500,#000000);
            margin-left: 33px;
        }
    }
    &__burgers{
        width: 30px;
        height: 18px;
        background: url(../img/menu.svg);
    }
}


@media (max-width:768px) {
    .header{
        &__content{
            & ul{
                display: none;
            }
        }
        &__burgers{
            display: block;
        }
    }
}